
.vs/QuanLyQuanAn/v15/.suo
.vs/QuanLyQuanAn/v15/.suo
.vs/QuanLyQuanAn/v15/Server/sqlite3/storage.ide
.vs/QuanLyQuanAn/v15/.suo
QuanLyQuanAn/obj/Debug/QuanLyQuanAn.exe
QuanLyQuanAn/obj/Debug/QuanLyQuanAn.pdb
QuanLyQuanAn/obj/Debug/QuanLyQuanAn.csproj.CoreCompileInputs.cache
*.pdb
*.Cache
*.ide
.vs/QuanLyQuanAn/v15/.suo
*.sqlite
