<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyQuanAn.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=VAIO;Integrated Security=SSPI;Initial Catalog=QLQA"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>